.navigation{
  display: flex;
  gap: 45px;
  align-items: center;
  font-size: 24px;
  width: 100%;
  font-family: 'Inter';
  color: #000;
}
@media screen and (max-width: 450px) {
  .navigation{
    font-size: 16px;
    gap: 35px;
  }
}