@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Lexend:wght@400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  background-color: #000;
}
.contain{
  max-width: 1440px;
  background-color: #FFF;
  margin: 0 auto;
}
html::-webkit-scrollbar{
  display: none;
}
